@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:ital,wght@0,200;0,300;0,400;1,200&family=Mulish:ital,wght@0,300;0,500;1,300&family=Open+Sans:wght@300;400&display=swap');


* {
    font-family: 'Mulish', 'Montserrat', sans-serif;
    background-color: rgb(231, 231, 231);
    font-size: 2rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ancho y color del riel de la scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Estilo del "pulgarcito" de la scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

/* Cambio en el color del "pulgarcito" al pasar el mouse por encima */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

body, html {
    height: 100%;
    margin: 0;
}

.main-container {
    position: relative;
    height: 100vh;
}

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: transparent !important;
}

.header-main h1 {
    font-family: 'Aclonica', sans-serif ;
    font-size: 2.5rem;
    color: #f6f6f6;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    background-color: transparent !important;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}



.historias {
    padding: 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative; /* Necesario para calcular la posición del elemento en JavaScript */
}

.historias h2 {
    margin: 4.5em 0;
    color: #B86F57;
    font-size: 0.75em;
    text-align: center;
    opacity: 0; /* Texto inicialmente transparente */
    transition: opacity 0.5s ease;
}

.manifesto-content{
    height: 100vh;
    position: relative;
    justify-content: left;
    width: 40vw;
    overflow: hidden;
    padding: 0 2rem;
    height: 100vh;
}

.manifesto-content h1{
    font-family: 'Aclonica', sans-serif;
    font-size: 2rem;
    color: #B86F57;
    text-align: left;
    margin: 0;
    padding: 0;
}

.manifesto-content h3{
    font-size: 1rem;
    color: #B86F57;
    text-align: left;
    margin: 0;
    padding: 0;
}

.manifesto-content h5{
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.manifesto-content p{
    padding: 0.2rem 0;
    font-style: italic;
    font-size: 0.6rem;
}

#header{
    height: 90vh;
    position: relative;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* gap: 2rem; */
}

.image #manifesto-img{
    border-radius: 5px;
    size-adjust: cover;
    object-fit: cover;
    float: right;
    max-height: 75%;
}

.tareas{
    padding-bottom: 15%;
}

.quienes-somos{
    /* width: 100%; */
    height: 60vh;
    display: flex;
    justify-content: center;
}

.quienes-somos .hache1{
    width: 100vw;
    margin: 3em auto;
    justify-content: center;
    align-items: center;
}

.quienes-somos h2{
    color: #B86F57;
    font-size: 0.75em;
    text-align: center;
}

.quienes-somos span{
    font-weight: bold;
    font-size: 0.7rem;
    text-align: center;
}

.quienes-somos p{
    font-size: 0.7rem;
    text-align: center; 
}

.quienes-somos .text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20vw;
}

.tareas-list {
    padding: 1em 2em;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.tareas-list ul{
    padding-top: 2rem;
    width: 100%;
    justify-content: center;
}

.tareas-list li {
    flex: 1;
    width: 15rem;
    height: 15rem;
    border: 2px solid #c1ba9d;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
}

.mision, .vision, .valores {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    box-sizing: border-box;
}


.tareas-list li h1 {
    color: #B86F57;
    font-size: 1.2rem;
    margin-bottom: 1em; 
}

.tareas-list li p {
    width: 60%;
    font-size: 0.55rem;
    text-align: center; /* Alinea el texto en el centro */
    margin: 0;
}

.chaguar-content{
    position: relative;
    justify-content: left;
    width: 40vw;
    overflow: hidden;
    padding: 0 2rem;
    height: 100vh;
}

.chaguar-content h1{
    font-size: 2rem;
    color: #B86F57;
    text-align: left;
    margin: 0;
    padding: 0;
}

.chaguar-content h3{
    font-size: 1rem;
    color: #B86F57;
    text-align: left;
    margin: 0;
    padding: 0;
}

.chaguar-content h5{
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.chaguar-content p{
    padding: 0.2rem 0;
    font-style: italic;
    font-size: 0.6rem;
}

.madera-content{
    position: relative;
    justify-content: left;
    width: 40vw;
    overflow: hidden;
    padding: 0 2rem;
    height: 100vh;
}

.madera-content h1{
    font-size: 2rem;
    color: #B86F57;
    text-align: left;
    margin: 0;
    padding: 0;
}

.madera-content h3{
    font-size: 1rem;
    color: #B86F57;
    text-align: left;
    margin: 0;
    padding: 0;
}

.madera-content h5{
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.madera-content p{
    padding: 0.2rem 0;
    font-style: italic;
    font-size: 0.6rem;
}

.cat-container{
    margin-top: 25%;
    height: 90vh;
    position: relative;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.valores-grid {
    margin: 25% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 80vh;
}

table {
    width: 100%;
    max-width: 85%; /* Adjust the maximum width as needed */
    border-collapse: separate;
    border-spacing: 1.5em 0.5em;
}

.cell {
    position: relative;
    overflow: hidden;
    width: 100%; /* Ensure each cell takes up the full width */
}

.cell img {
    border-radius: 5px;
    width: 35dvw;
    height: 25dvh;
    object-fit: cover;
    display: block; /* Ensure images don't have extra space underneath */
}

.cell:before {
    content: attr(data-text); /* Use the alt text as content */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust text color as needed */
    text-align: center;
    opacity: 1; /* Set opacity to 1 by default */
    pointer-events: none; /* Ensure the text doesn't interfere with interactions */
    z-index: 1; /* Place the text overlay on top of the image */
}

.cell:nth-child(2n):before {
    background: rgba(0, 0, 0, 0.5); /* Adjust the background color for even rows */
}

/* Additional styling for text overlay */
.cell:before {
    padding: 10px; 
    font-size: 1rem; 
    font-weight: bold; 
}

.taller-grid{
    display: grid;
    grid-template-areas: 
        "side content content"
        "foot foot foot";
}

article{grid-area: side;}
aside{grid-area: content;}
footer{grid-area: foot;}

.taller-grid article{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    box-sizing: border-box;
    height: 80dvh;
}

.taller-grid h1{
    color: #B86F57;
    font-size: 1.5rem;
}

.taller-grid h3{
    font-size: 1rem;
}

.taller-grid h5{
    font-size: 0.75rem;
}

.taller-grid p{
    font-size: 0.5rem;
}

.taller-grid b{
    font-size: inherit;
}

.taller-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 60dvh;
}

.taller-aside h1{
    color: #B86F57;
    font-size: 1.2rem;
}

.taller-aside h3{
    font-size: 1rem;
}

.taller-aside h5{
    font-size: 0.75rem;
}

.taller-aside p{
    font-size: 0.5rem;

}

.taller-aside div{
    width: 70vw;
    padding: 0.33rem 2rem;
}

.taller-aside div span{
    border-bottom: solid #B86F57 1px; 
    width: 95%; 
    display: block;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
}

.column-text{
    float: left;
    width: 30vw;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Style the images */
.column img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}
  
  /* Style the description */
.description {
    font-size: 0.5rem;
    text-align: center;
}

.column-text h1{
    padding: 0.5em 1em;
    color: #B86F57;
    font-size: 1.2rem;
}

.column-text h3{
    padding: 0 1.5em;
    font-size: 0.85rem;
}

  #silla-ikana{
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: right;
    max-height: 75%;
    margin-top: 25%;
  }