@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:ital,wght@0,200;0,300;0,400;1,200&family=Mulish:ital,wght@0,300;0,500;1,300&family=Open+Sans:wght@300;400&display=swap');


* {
    font-family: 'Mulish','Montserrat', sans-serif;
    background-color: rgb(231, 231, 231);
    font-size: 2rem;
}

.main-container {
    margin-bottom: 100vh;
}

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 15px;
    margin: 10px; /*  ajustar el padding según dispositivo */
    z-index: 1; /* ajustar segun cantidad de elementos con z-index (traer al frente) */
}

.header-main h1{
    float: left;
    font-family: 'Aclonica', 'Monsterrat', sans-serif !important;
    color: #6f6f6f;
}

.navbar .header-main .topics ul{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    float: right;
    list-style: none;
}

.navbar .header-main .topics ul li a{
    font-family: inherit;
    font-size: 0.25em !important;
    text-decoration: none;
    color: #6f6f6f;
}

.navbar .header-main a:hover{
    text-decoration: underline;
}

.background-video #videoFondo{
    height: 85vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 50%;
}

.historias {
    padding: 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative; /* Necesario para calcular la posición del elemento en JavaScript */
}

.historias h2 {
    margin: 4.5em 0;
    color: #B86F57;
    font-size: 0.75em;
    text-align: center;
    opacity: 0; /* Texto inicialmente transparente */
    transition: opacity 1s ease; /* Transición de la propiedad de opacidad durante 1 segundo */
}
